<a href="https://colab.research.google.com/github/lilipant10/Learning-Pandas/blob/main/Identifying_duplicate_values_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Thinkful-Ed/data-science-lectures/master/emp_bonus.csv')
df

   Emp_ID Position Location  Bonus
0    1234      mgr     west   1000
1    1010      mgr     west    500
2    1234      mgr     west   1000
3    1234      mgr     west   1000
4    3535    staff     east    750
5    5678    staff     east   1200
6    5678    staff     east   1200
7    1234      mgr     west   1250
8    1234      mgr     west    500
9    8822    staff     west   1250

In [ ]:
df.duplicated()

0    False
1    False
2     True
3     True
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool

In [ ]:
df.duplicated(keep='last')

0     True
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
df.duplicated(keep=False)

0     True
1    False
2     True
3     True
4    False
5     True
6     True
7    False
8    False
9    False
dtype: bool

In [ ]:
df['Emp_ID'].duplicated()

0    False
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
Name: Emp_ID, dtype: bool

In [ ]:
df['Emp_ID'].duplicated(keep='last')

0     True
1    False
2     True
3     True
4    False
5     True
6    False
7     True
8    False
9    False
Name: Emp_ID, dtype: bool

In [ ]:
df['Emp_ID'].duplicated(keep=False)

0     True
1    False
2     True
3     True
4    False
5     True
6     True
7     True
8     True
9    False
Name: Emp_ID, dtype: bool